html
    body
        div(style='text-align:center')
            h3 Test header
            p Answer following question:
            p #{survey.body}
            div
                a(href=redirectUrl + `api/surveys/${survey.id}/yes`) Yes
            div
                a(href=redirectUrl + `api/surveys/${survey.id}/no`) No